@import "../variables"

html
  font-size: 18px
  @media #{$medium-up}
    font-size: 19px
  @media #{$full-hd-up}
    font-size: 20px

body
  background-color: $body-bg
  color: $text-color
  font-family: $font-primary
