@import "../variables"

ul.todo-list
  color: $text-color

  list-style: none
  margin: 0.5rem 0
  padding-left: 0

  li
    cursor: pointer
    font-size: $todo-font-size
    line-height: 1.2
    padding: $todo-padding-vertical $todo-padding-left
    margin-bottom: 0.25rem
    transition: all .2s

    &:hover
      background-color: $focus-bg

    &.is-done
      text-decoration: line-through
      color: transparentize($text-color, 0.4)
      text-decoration-color: transparentize($text-color, 0.6)

.todo-header
  font-weight: bold
  margin-left: $todo-padding-left
  margin-top: 1rem
  margin-bottom: 1rem

.new-todo-form
  display: flex
  transition: all .2s

  > *
    margin: 0

  input[type="text"]
    border: none
    color: $text-color
    flex: 1
    font-size: $todo-font-size
    outline: none
    padding-left: $todo-padding-left
    padding:
      bottom: $todo-padding-vertical
      top: $todo-padding-vertical
    transition: all .2s

    &::placeholder
      color: transparentize($text-color, 0.6)

    &:focus
      background-color: $focus-bg

      + button
        background-color: $focus-bg

        &:hover
          background-color: darken($focus-bg, 3%)

  button[type="submit"]
    background: none
    border: none
    color: $text-color
    cursor: pointer
    font-size: $todo-font-size
    font-weight: bold
    outline: none
    padding: 1rem
    transition: all .2s

    &:hover
      background-color: $focus-bg
