@import "../variables"

html
  font-size: 18px
  @media #{$medium-up}
    font-size: 19px
  @media #{$full-hd-up}
    font-size: 20px

body, p, h1, h2, h3, h4, h5, h6
  font-family: $font-primary
  color: $text-color

h1, h2, h3
  margin-left: $todo-padding-left

ul.todo-list
  color: $text-color

  margin-block-start: 0
  margin-block-end: 0
  padding-inline-start: 0

  li
    cursor: pointer
    font-size: $todo-font-size
    line-height: 1.2
    list-style-type: none
    padding: $todo-padding-vertical $todo-padding-left
    margin-bottom: 0.25rem
    transition: all .2s
    
    &:hover
      background-color: $focus-bg

    &.is-done
      text-decoration: line-through
      color: transparentize($text-color, 0.4)
      text-decoration-color: transparentize($text-color, 0.6)

.new-todo-form
  display: flex
  transition: all .2s

  input[type="text"]
    border: none
    color: $text-color
    flex: 1
    font-size: $todo-font-size
    outline: none
    padding-left: $todo-padding-left
    padding:
      bottom: $todo-padding-vertical
      top: $todo-padding-vertical
    transition: all .2s

    &::placeholder
      color: transparentize($text-color, 0.6)

    &:focus
      background-color: $focus-bg

      + button
        background-color: $focus-bg

        &:hover
          background-color: darken($focus-bg, 3%)

  button[type="submit"]
    background: none
    border: none
    color: $text-color
    cursor: pointer
    font-size: $todo-font-size
    font-weight: bold
    outline: none
    padding: 1rem
    transition: all .2s

    &:hover
      background-color: $focus-bg
